
#reader .ivu-modal-header {
	margin: 0px;
	padding: 0px;
}
#reader .ivu-modal-footer{
	padding: 3px 5px;
}
#reader .ivu-modal-body {
	padding: 0px;
}

#context * {
	font-weight: 500;
	user-select: text;
}

#context > .p + .p {
	margin-top: 6px;
}

#context > .p {
	/* border-bottom: 1px solid red; */
}
#readerScale > div {
	/* border-bottom: 1px solid red; */
}

#readerScale * {
	font-size: 12px;
}

.speech-bubble {
	position: absolute;
	top: 6px;
	left: 0px;
	width: 15px;
  background: #00bfb6;
  text-align: center;
  color: #fff;
	position: relative;
	font-size: 8px !important;
	cursor: pointer;
}

.speech-bubble:before {
	content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 3px solid #00bfb6;
  border-right: 3px solid transparent;
  border-top: 3px solid #00bfb6;
  border-bottom: 3px solid transparent;
  right: -3px;
  top: 4px;
}

.button {
	/* align-self: stretch; */
	display: flex; 
	flex-direction: row;
	justify-content: center; 
	align-items: center;
	display: inline-block;
	border: 1px solid #e5e5e5;
	padding: 0px;
	margin: 0px !important;
	padding: 10px 15px 10px 15px;
	cursor: pointer;
	background-image: -webkit-linear-gradient(top, #7d7e7d, #0e0e0e);
	color: white;
	overflow: hidden;
	border-radius: 5px;
}

#context span.active {
	background-color: #c01921;
	color: white;
}

#context [ignore] {
  color: #707575;
}